.loading {
  height: 100vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  .logo-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .logo {
      color: white;
      width: 10rem;
      height: 10rem;
      transform: rotate(90deg);
      cursor: pointer;
    }
    h2 {
      font-size: 10rem;
      color: white;
      text-align: center;
    }

    p {
      color: white;
      text-align: center;
      font-size: 5rem;
    }
  }
}
