@use '../abstracts/colors' as C;

.set-timer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   height: 100%;
   font-family: 'PT Sans', sans-serif;
   background-color: C.$color-light;

   .chooseTime {
      display: flex;
      flex-direction: row;
      font-size: 30rem;
      gap: 3rem;
   }

   #minutes {
      font-size: 5rem;
   }

   p {
      font-size: 2rem;
      color: C.$color-medium;
   }
}
.box-align {
   padding: 1px;
   display: flex;
   align-items: center;
   gap: 1rem;
}
