.set-timer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    .chooseTime{
        display: flex;
        flex-direction: row;
        padding: 1 rem;
    }
    .minutes{
        font-size: 10 rem;
        font-family: 'PT Sans', sans-serif;
    }
}

