/* Error: expected "{".
 *   ,
 * 3 |   font-size: 62.5%;
 *   |                   ^
 *   '
 *   base\_general.scss 3:19  @forward
 *   base\_index.scss 1:1     @use
 *   main.scss 2:1            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 3 \2502    font-size: 62.5%;\d\a   \2502                    ^\a   \2575 \a   base\\_general.scss 3:19  @forward\a   base\\_index.scss 1:1     @use\a   main.scss 2:1            root stylesheet';
}
